@use "./variables" as v;

.nav__link {
  text-decoration: none;
  color: v.color(neutral-100);
  display: block;
  font-size: 0.95rem;

  &:hover {
    text-decoration: underline;
    font-weight: v.weight(bold);
  }
}

.btn-main {
  padding: 0.75rem 3rem;
  font-size: 1.0125rem;
  color: v.color(neutral-100);
  width: 100%;
  border-radius: 4rem;
  font-weight: v.weight(bold);
  border: none;
  background: linear-gradient(
    45deg,
    v.color(cyan-call-500),
    v.color(cyan-call-600)
  );
  display: block;
}
