@use "./variables" as v;

.nav__link {
  text-decoration: none;
  color: v.color(neutral-100);
  display: block;
  font-size: 0.95rem;
  outline-offset: 3px;

  &:hover {
    text-decoration: underline;
    font-weight: v.weight(bold);
  }

  &:focus {
    outline: 3px dotted v.color(cyan-call-500);
  }
}

.btn-main {
  padding: 0.75rem 3rem;
  font-size: 1.0125rem;
  //   color: v.color(neutral-100);
  width: 100%;
  border-radius: 4rem;
  font-weight: v.weight(bold);
  border: none;
  background: linear-gradient(
    45deg,
    v.color(cyan-call-500),
    v.color(cyan-call-600)
  );
  outline-offset: 3px;
  display: block;
  cursor: pointer;

  &:hover {
    opacity: 0.85;
  }

  &:focus {
    outline: 3px dotted v.color(cyan-call-500);
  }
}

// link
.link {
  text-decoration: none;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 0.5rem;
  color: v.color(cyan-call-500);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    height: 2px;
    width: 100%;
    transform-origin: left;
    background-color: v.color(cyan-call-500);
    scale: 0 1;
    transition: 200ms ease-in-out;
  }

  &:hover::after {
    scale: 1 1;
  }

  #{&}__icon {
    display: block;

    & img {
      display: block;
    }
  }
}
