@use "./variables" as v;

@mixin NavbarMobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 5rem;
  padding: 1rem;
}

@mixin NavLinks {
  display: flex;
  list-style: none;
  gap: 1rem;
}

@mixin NavLink {
  text-decoration: none;
  color: v.color(neutral-100);

  &:hover {
    font-weight: v.weight(bold);
  }
}

@mixin Profile {
  color: v.color(neutral-100);
  align-items: center;
  justify-content: start;
  gap: 1rem;
  margin: 1rem 0;
  display: flex;

  .profile__image {
    max-width: 2rem;

    & img {
      display: block;
      border-radius: 50%;
    }
  }

  .profile__name {
    font-size: 0.85rem;
  }

  .profile__job {
    font-size: 0585rem;
  }
}
