@use "./modules/" as m;

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: m.color(dark-blue-main);
}

.nav {
  @include m.NavbarMobile;

  #{&}__logo-image {
    max-width: 5rem;
  }

  #{&}__links {
    @include m.NavLinks;
  }

  //   #{&}__link {
  //     // @include m.NavLink;
  //   }
}

.hero {
  padding: 3rem 1rem;
  background: m.color(dark-blue-intro);

  #{&}__cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #{&}__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #{&}__img {
    max-width: 15rem;
  }

  #{&}__text-content {
    text-align: center;
    color: m.color(neutral-100);
  }

  #{&}__heading {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  #{&}__btn-center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 3rem;
  }
}

// features
.features {
  padding: 4rem 2rem;
  color: m.color(neutral-100);

  #{&}__cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 6rem;
  }

  #{&}__item-cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  #{&}__item {
    text-align: center;
  }

  #{&}__item-title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

// stay productive
.productive {
  padding: 4rem 2rem;
  color: m.color(neutral-100);
  //   text-align: center;

  #{&}__image {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #{&}__img {
    max-width: 15rem;
  }

  #{&}__cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  #{&}__heading {
    font-size: 1.125rem;
    margin-bottom: 1rem;
    text-align: center;
  }

  #{&}__para {
    margin-bottom: 1rem;
  }
}

// testimonials
.testimonials {
  color: m.color(neutral-100);
  padding: 1rem;

  .testimonial {
    background-color: m.color(dark-blue-testimonials);
    padding: 1rem;
    border-radius: 0.25rem;
    position: relative;

    &:first-child::before {
      content: "";
      left: 0;
      position: absolute;
      top: -10%;
      background-image: url("../public/images/bg-quotes.png");
      background-repeat: no-repeat;
      background-size: cover;
      width: 25px;
      height: 20px;
      z-index: 2;
      display: block;
    }

    & p {
      font-size: 0.95rem;
    }
  }

  #{&}__cols {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.testimonial__profile {
  @include m.Profile;
}

// get started
.get-started {
  color: m.color(neutral-100);
  padding: 3rem 1rem;

  .getStarted__container {
    padding: 2rem;
    text-align: center;
    border-radius: 0.5rem;
    background-color: m.color(dark-blue-testimonials);
    box-shadow: 5px 5px 6px m.color(dark-blue-footer);
  }

  #{&}__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
    margin: 1rem 0;
  }

  #getStartedToday {
    padding: 1rem;
    border: none;
    border-radius: 5rem;
  }

  .submit-btn {
    padding: 1rem;
    border-radius: 5rem;
    border: none;
    display: block;
    color: m.color(neutral-100);
    font-weight: m.weight(bold);
    background: linear-gradient(
      45deg,
      m.color(cyan-call-500),
      m.color(cyan-call-600)
    );
    background-size: cover;
  }
}
